.section-howit {
  background-color: $base-grey;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 197px;
    height: 264px;
    background-image: url(/image/howit/berry-bg.png);
    top: 60%;
    right: 0;
  }
}

.container-howit {
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 135px;
    width: 72px;
    background-image: url(/image/howit/leaf-l.png);
    top: 50%;
    left: 2%;
  }
  &::after {
    content: "";
    position: absolute;
    height: 77px;
    width: 90px;
    background-image: url(/image/howit/leaf-r.png);
    top: 20%;
    right: 2%;
  }
}

.howit-title {
  @include title;
}

.howit-player {
  height: 370px;
  width: 660px;
  position: relative;
}
.player {
  &__splash {
    top: 0;
    position: absolute;
    height: 370px;
    width: 660px;
    background-image: url(/image/howit/video-spoiler.png);
    &.hidden {
      display: none;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 35px;
    width: 660px;
    position: absolute;
    bottom: -35px;
    left: 0;
    background-color: #404040;
  }
}

.control {
  &__play {
    border: 0;
    outline: 0;
    width: 40px;
    height: 0;
    background-color: #404040;
    
    border-style: solid;
    border-width: 10px 0 10px 18px;
    border-color: transparent transparent transparent #222;
    cursor: pointer;
    &.pause {
      border: 0;
      border-width: 0 0 0 5px;
      border-style: solid;
      border-color: #222;
      height: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        display: block;
        left: 10px;
        height: 20px;
        width: 5px;
        background-color: #222;
        top: 0;
      }
    }
  }
  &__progress {
    height: 7px;
    width: 400px;
    background-color: #222;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    &-btn {
      outline: 0;
      position: absolute;
      width: 15px;
      height: 15px;
      border: 0;
      border-radius: 50%;
      background-color: #fff;
      top: -50%;
      transform: translate(-50%, 0);
      left: 0;
      transition: 0.8s;
    }
  }
  &__duration {
    font-size: 14px;
    color: #222;
    margin-left: 4px;
  }
  &__speaker {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &.mute::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 2px;
      background-color: rgb(219, 211, 211);
      transform: rotate(-45deg);
      top: 40%;
      left: 0;
    }
  }
  &__volume {
    width: 100px;
    cursor: pointer;
    height: 15px;
    position: relative;
    background-color: transparent;
    &-current {
      position: absolute;
      width: 80%;
      height: 7px;
      background-color: #222;
      top: 49%;
      border-radius: 5px;
      transform: translate(0, -50%);
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        border: 0;
        border-radius: 50%;
        background-color: rgb(219, 211, 211);
        top: 50%;
        transform: translate(50%, -50%);
        right: 0;
        transition: 0.8s;
      }
    }
    
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100px;
      height: 7px;
      background-color: rgb(119, 114, 114);
      top: 49%;
      border-radius: 5px;
      transform: translate(0, -50%);
    }
  }
}
