.reasons-bg {
  background-color: #fff;
  background-image: url(../../image/reasons/reasons_bg.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  &::before {
    content: "";
    display: block;
    height: 19.6875rem;
    width: 10.0624rem;
    position: absolute;
    background-image: url(../../image/reasons/beery_bg.png);
    background-size: auto;
    top: 80%;
    left: 0;
    z-index: 1;
  }
}
.reasons-container {
  padding: 0 5rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.reasons-title {
  width: 25.625rem;
  &__inner {
    margin-top: 6.875rem;
    @include title;
  }
}

.subtitle-reasons {
  font-family: AlegreyaSans-Thin;
  font-size: 1.125rem;
  margin: 1.15625rem 0 3.75rem;
  color: #666666;
}
.reasons-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.reasons-list {
  width: 17.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    height: 1.3125rem;
    width: 4.1875rem;
    display: block;
    
    position: absolute;
    background-image: url(../../image/reasons/list-bg.png);
    top: 15%;
    left: 17rem;
    
    
  }

  &:last-child::after {
    content: "";
    display: none;
  }


  &__icon {
    width: 7.8125rem;
    height: 7.8125rem;
    display: block;
    
    @each $icon-reasons in (heplful, tasty, nutri) {
      &_#{$icon-reasons} {
        background-image: url(../../image/reasons/#{$icon-reasons}_icon.png);
      }
    }
    
    
  }

  &__title {
    font-family: AlegreyaSans-Bold;
    font-size: 1.6875rem;
    color: #000;
    
    margin: 2.1875rem 0 1.875rem 0;
  }

  &__text {
    font-family: AlegreyaSans-Regular;
    font-size: 1.125rem;
    color: #666666;
  }
}
