.reviews-bg {
  background-image: url(../../image/reviews/berry-tl.png);
  background-position: 98% 4%;
  background-repeat: no-repeat;
  position: relative;
  &::before {
    content: "";
    display: block;
    height: 20.0625rem;
    width: 9.375rem;
    position: absolute;
    background-image: url(../../image/reviews/beery-bl.png),
      url(../../image/reviews/reviews-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%, left;
    top: 73%;
    z-index: 1;
  }
}
.reviews-container {
  padding: 4.125rem 5rem;
  align-items: center;
  justify-content: center;
}
.reviews-title {
  @include title;
  margin-bottom: 2.75rem;
}
.reviews-content {
  padding: 3.125rem 2.75rem 2.125rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8faf9;
  background-image: url(../../image/reviews/reviews-inner-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
}
.reviews-text {
  margin-left: 1.125rem;
  text-align: left;
  width: 27.5rem;
  &__title {
    font-family: AlegreyaSans-Bold;
    font-size: 1.875rem;
  }

  &__inner {
    font-family: AlegreyaSans-Regular;
    font-size: 1.125rem;
    color: #666666;
  }

  &__author {
      font-family: AlegreyaSans-Medium;
    font-size: 1.125rem;
  }
}
.reviews-list {
   display: flex;
   margin-top: 1.5625rem;
    &__users {
        width: 4.1875rem;
        height: 4.1875rem;
        display: block;
        margin-right: 0.6875rem;
        &:last-child {
            margin-right: 0;
        }
        @each $icon-rewiews in (user1, user2, user3) {
            &_#{$icon-rewiews} {
              background-image: url(../../image/reviews/#{$icon-rewiews}.png);
              background-size: cover;
              border: 0.0625rem solid #fff;
              border-radius: 50%;
            }
          }
    }
}
