@font-face {
  font-family: AlegreyaSans-Black;
  src: url(../../fonts/AlegreyaSans-Black.ttf);
}
@font-face {
  font-family: AlegreyaSans-BlackItalic;
  src: url(../../fonts/AlegreyaSans-BlackItalic.ttf);
}
@font-face {
  font-family: BoldItalic;
  src: url(../../fonts/BoldItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Bold;
  src: url(../../fonts/AlegreyaSans-Bold.ttf);
}
@font-face {
  font-family: AlegreyaSans-ExtraBold;
  src: url(../../fonts/AlegreyaSans-ExtraBold.ttf);
}
@font-face {
  font-family: AlegreyaSans-ExtraBoldItalic;
  src: url(../../fonts/AlegreyaSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Italic;
  src: url(../../fonts/AlegreyaSans-Italic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Light;
  src: url(../../fonts/AlegreyaSans-Light.ttf);
}
@font-face {
  font-family: AlegreyaSans-LightItalic;
  src: url(../../fonts/AlegreyaSans-LightItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Medium;
  src: url(../../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: AlegreyaSans-MediumItalic;
  src: url(../../fonts/AlegreyaSans-MediumItalic.ttf);
}
@font-face {
  font-family: AlegreyaSans-Regular;
  src: url(../../fonts/AlegreyaSans-Regular.ttf);
}
@font-face {
  font-family: AlegreyaSans-Thin;
  src: url(../../fonts/AlegreyaSans-Thin.ttf);
}
@font-face {
  font-family: AlegreyaSans-ThinItalic;
  src: url(../../fonts/AlegreyaSans-ThinItalic.ttf);
}
.wrapper {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.section {
  width: 100%;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 58.75rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 460px) {
  .container {
    max-width: 460px;
  }
}
.intro-bg {
  background-color: #86c3d7;
  background-image: url(../../image/intro/intro_bg.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}
.intro-bg::before {
  content: "";
  display: block;
  height: 7rem;
  width: 3.6875rem;
  position: absolute;
  background-image: url(../../image/intro/leaf-l_bg.png);
  top: 92%;
  left: 4%;
  z-index: 1;
}
.intro-bg::after {
  content: "";
  display: block;
  height: 6.75rem;
  width: 6.9375rem;
  position: absolute;
  background-image: url(../../image/intro/beery-r_bg.png);
  top: 93%;
  right: 8%;
  z-index: 1;
}

.intro-container {
  padding: 0 2rem;
  height: 100%;
  justify-content: space-between;
  position: relative;
}
.intro-container::before {
  content: "";
  display: block;
  height: 6.5625rem;
  width: 8.8125rem;
  position: absolute;
  background-image: url(../../image/intro/leaf-m_bg.png);
  top: 92%;
  right: 26%;
  z-index: 1;
}
.intro-container::after {
  content: "";
  display: block;
  height: 12.6875rem;
  width: 14.75rem;
  position: absolute;
  background-image: url(../../image/intro/leaf-r_bg.png);
  top: 55%;
  right: 2%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: AlegreyaSans-Regular;
  margin-top: 1rem;
}

.logo {
  width: 3.3125rem;
  height: 2.4375rem;
  background-image: url(../../image/intro/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nav {
  width: 65%;
  font-size: 1.125rem;
}
.nav__list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav__list_active {
  flex-direction: column;
  font-family: AlegreyaSans-Regular;
  font-size: 36px;
  line-height: 2;
  color: #fff;
}
.nav__items {
  margin-right: 0.7rem;
}
.nav__items:last-child {
  margin-right: 0;
}
.nav__link {
  color: #fff;
  transition: 0.5s;
}
.nav__link:hover {
  -webkit-text-decoration: underline #365a49;
          text-decoration: underline #365a49;
  color: #365a49;
  transition: 0.5s;
}

.contacts {
  display: flex;
  align-items: center;
  height: 39px;
  fill: #fff;
}
.contacts__icon {
  display: inline-block;
  width: 0.75rem;
  height: 0.6875rem;
}
.contacts__number {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-left: 0.3125rem;
}

#hamburger-menu {
  display: none;
  height: 1.5rem;
  width: 1.5rem;
}

#menu__toogle {
  display: none;
}

.menu__box {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 53, 55, 0.98);
  z-index: 4;
  justify-content: center;
}
.menu__close {
  position: absolute;
  top: 1.5%;
  right: 4%;
  display: block;
  border: 0;
  background: none;
  height: 20px;
  width: 20px;
}
.menu__close::after {
  position: absolute;
  content: " ";
  height: 21px;
  width: 2px;
  background-color: #ccc;
  transform: rotate(45deg);
}
.menu__close::before {
  position: absolute;
  content: " ";
  height: 21px;
  width: 2px;
  background-color: #ccc;
  transform: rotate(-45deg);
}
.menu__btn {
  position: absolute;
  width: 24px;
  height: 24px;
}
.menu__icon, .menu__icon::after, .menu__icon::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 8px;
}
.menu__icon::before {
  content: "";
  top: 1rem;
}
.menu__icon::after {
  content: "";
  top: 0.5rem;
}

@media (max-width: 768px) {
  #hamburger-menu {
    display: block;
  }
}
.fixed-menu {
  position: fixed;
  right: 2%;
  top: 30%;
  z-index: 2;
}
.fixed-menu__items {
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border: 0.0625rem solid #fff;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 0.9375rem;
  position: relative;
}
.fixed-menu__items_active::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.9rem;
  width: 0.9rem;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-content {
  text-align: left;
  width: 100%;
  color: #fff;
}

.intro-title {
  max-width: 21.875rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.intro-content-jpg {
  display: block;
  position: absolute;
  left: 52%;
  top: 10%;
}
.intro-content-jpg::before {
  content: "";
  display: block;
  height: 13rem;
  width: 13.75rem;
  position: absolute;
  background-image: url(../../image/intro/beery-m_bg.png);
  top: 65%;
  right: 40%;
}

.title-intro__inner {
  font-family: AlegreyaSans-Bold;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.intro-subtitle {
  font-family: AlegreyaSans-Thin;
  font-size: 1.3125rem;
  margin: 1.4375rem 0 2rem;
}

.btn-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.625rem;
  width: 9.75rem;
  border-radius: 30px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #365a49;
  text-transform: uppercase;
  font-family: AlegreyaSans-ExtraBold;
  font-size: 1.1875rem;
  transition: 0.5s;
}
.btn-intro:hover {
  transition: 0.5s;
  border: 1px solid #365a49;
  background-color: #365a49;
  color: #fff;
}

.intro-discriptions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3.125rem;
}
.intro-discriptions__item {
  margin-right: 2.875rem;
  font-size: 1rem;
  font-family: AlegreyaSans-Regular;
  color: #fff;
  display: flex;
  align-items: center;
}
.intro-discriptions__item:last-child {
  margin-right: 0;
}
.intro-discriptions__text {
  width: 5rem;
}
.intro-discriptions__icon {
  display: inline-block;
  height: 3.125rem;
  width: 3.125rem;
  margin-right: 0.5rem;
  fill: #fff;
}

@media (max-width: 768px) {
  .intro-bg::before {
    display: none;
  }
  .intro-bg::after {
    display: none;
  }

  .intro-container {
    padding: 0 1.5rem;
  }
  .intro-container::before {
    display: none;
  }
  .intro-container::after {
    display: none;
  }

  .nav {
    display: none;
  }

  .contacts {
    display: none;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .intro-discriptions {
    display: none;
  }
  .intro-discriptions::after {
    display: none;
  }

  .intro-title {
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 11rem;
  }

  .intro-subtitle {
    max-width: 21rem;
  }

  .intro-content-jpg {
    position: relative;
    max-width: 343px;
    left: auto;
    top: auto;
  }
  .intro-content-jpg::before {
    display: none;
  }
  .intro-content-jpg::after {
    content: "";
    background-image: url(/image/intro/intro-bg-768.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 100%;
    max-width: 343px;
    height: 100%;
    max-height: 360px;
    top: 40%;
  }
}
@media (max-width: 480px) {
  .intro-bg {
    background-image: none;
  }

  .intro-container {
    padding: 0 0.8rem;
  }
  .intro-container::after {
    content: "";
    background-image: url(/image/intro/intro-bg-768.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 343px;
    height: 100%;
    max-height: 360px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .intro-container::before {
    content: "";
    display: block;
    background-image: url(/image/intro/intro_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    right: 10%;
    width: 100%;
    max-width: 312px;
    height: 390px;
    z-index: 0;
  }

  .intro-content-jpg {
    max-width: 317px;
    position: relative;
  }

  .title-intro__inner {
    font-size: 2.5rem;
    z-index: 1;
  }

  .intro-subtitle {
    font-size: 1.125rem;
  }

  .intro-title {
    margin-bottom: 5rem;
  }
}
.reasons-bg {
  background-color: #fff;
  background-image: url(../../image/reasons/reasons_bg.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}
.reasons-bg::before {
  content: "";
  display: block;
  height: 19.6875rem;
  width: 10.0624rem;
  position: absolute;
  background-image: url(../../image/reasons/beery_bg.png);
  background-size: auto;
  top: 80%;
  left: 0;
  z-index: 5;
}

@media (max-width: 768px) {
  .reasons-bg {
    background-position: left 20%;
  }
}
@media (max-width: 480px) {
  .reasons-bg {
    background-image: none;
  }
  .reasons-bg::before {
    display: none;
  }
}
.reasons-container {
  padding: 0 5rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .reasons-container {
    padding: 0 1rem 0;
  }
}
.reasons-title {
  max-width: 25.625rem;
  width: 100%;
}
.reasons-title__inner {
  font-family: AlegreyaSans-Bold;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.subtitle-reasons {
  font-family: AlegreyaSans-Thin;
  font-size: 1.125rem;
  margin: 1.15625rem 0 3.75rem;
  color: #666666;
}

@media (max-width: 480px) {
  .reasons-title__inner {
    font-size: 40px;
  }

  .subtitle-reasons {
    margin-bottom: 2.5rem;
  }
}
.reasons-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 480px) {
  .reasons-content {
    flex-direction: column;
  }
}
.reasons-list {
  width: 17.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.reasons-list::after {
  content: "";
  height: 1.3125rem;
  width: 4.1875rem;
  display: block;
  position: absolute;
  background-image: url(../../image/reasons/list-bg.png);
  top: 17%;
  left: 83%;
}
.reasons-list:last-child::after {
  content: "";
  display: none;
}
.reasons-list__icon {
  width: 7.8125rem;
  height: 7.8125rem;
  fill: #2e2e2d;
  background-image: url(/image/reasons/elips.png);
}
.reasons-list__title {
  font-family: AlegreyaSans-Bold;
  font-size: 1.6875rem;
  color: #000;
  width: 100%;
  margin: 2.1875rem 0 1.875rem 0;
}
.reasons-list__text {
  font-family: AlegreyaSans-Light;
  font-size: 1.125rem;
  color: #666666;
}

@media (max-width: 768px) {
  .reasons-list {
    width: calc(100%/3 -20px);
  }
  .reasons-list::after {
    display: none;
  }
}
@media (max-width: 480px) {
  .reasons-content {
    flex-direction: column;
  }

  .reasons-list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
    text-align: left;
  }
  .reasons-list__icon {
    width: 100%;
    max-width: 7.8125rem;
    margin-right: 0.5rem;
  }
  .reasons-list__block {
    width: 19rem;
  }
  .reasons-list__title {
    margin: 0;
  }
}
.section-bar {
  background-color: #f8faf9;
  position: relative;
}
.section-bar::after {
  content: "";
  position: absolute;
  display: block;
  height: 450px;
  width: 196px;
  right: 0;
  top: 73%;
  background-image: url(/image/bar/berry.png), url(/image/bar/bg-image.png);
  background-repeat: no-repeat;
  background-position: center, right;
  z-index: 0;
}

.container-bar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.bar-arrowleft {
  display: block;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: 0;
  border-top: 2px solid #151515;
  border-left: 2px solid #151515;
  transform: rotate(-45deg);
  border-radius: 8px 0 0 0;
  margin: 0 1rem;
  z-index: 7;
}

.bar-arrowright {
  display: block;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: 0;
  border-top: 2px solid #151515;
  border-left: 2px solid #151515;
  transform: rotate(135deg);
  border-radius: 8px 0 0 0;
  margin: 0 1rem;
  z-index: 7;
}

.bars-img {
  width: 363px;
  margin-right: 1rem;
  z-index: 5;
  position: relative;
}
.bars-img::before {
  content: "";
  position: absolute;
  height: 84%;
  width: 127%;
  top: 15%;
  left: -20%;
  background-image: url(/image/bar/leaf-l.png), url(/image/bar/leaf-r.png);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  z-index: 3;
}

.bar-descriptions {
  width: 344px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  font-size: AlegreyaSans-Regular;
  font-size: 18px;
  height: 455px;
  z-index: 1;
}
.bar-descriptions__composition {
  width: 90px;
  height: 90px;
  background-color: #60aacc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-family: AlegreyaSans-Bold;
  text-transform: uppercase;
  border-radius: 5px;
}
.bar-descriptions__composition svg {
  fill: #fff;
  width: 51px;
  height: 51px;
  margin-bottom: 0.125rem;
}
.bar-descriptions__title {
  font-family: AlegreyaSans-Bold;
  font-size: 36px;
}
.bar-descriptions__about {
  color: #666;
}
.bar-descriptions__propetties {
  display: flex;
  width: inherit;
  margin-top: 0.5rem;
}
.bar-descriptions__order {
  display: flex;
  justify-content: space-evenly;
  width: inherit;
  align-items: center;
  margin-top: 0.5rem;
}
.bar-descriptions__price {
  font-family: AlegreyaSans-Light;
  font-size: 60px;
  color: #151515;
  margin-right: 1rem;
}
.bar-descriptions__calories {
  margin-right: 55px;
}
.bar-descriptions__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.625rem;
  width: 9.75rem;
  border-radius: 30px;
  border: 1px solid #365a49;
  background-color: #365a49;
  color: #fff;
  text-transform: uppercase;
  font-family: AlegreyaSans-ExtraBold;
  font-size: 1.1875rem;
}

@media (max-width: 768px) {
  .container-bar {
    flex-direction: column;
    justify-content: center;
  }
  .container-bar::before {
    display: none;
  }
  .container-bar::after {
    display: none;
  }

  .bar-descriptions {
    width: 100%;
    max-width: 498px;
    height: 250px;
    align-items: center;
    text-align: center;
  }
  .bar-descriptions__composition {
    display: none;
  }
  .bar-descriptions__propetties {
    justify-content: center;
    text-align: left;
  }

  .bar-arrowright {
    position: absolute;
    top: 32%;
    right: 12%;
  }

  .bar-arrowleft {
    position: absolute;
    top: 32%;
    left: 12%;
  }

  .bars-img {
    width: 37%;
    height: 40%;
    min-width: 262px;
  }
}
@media (max-width: 460px) {
  .bars-img {
    max-width: 262px;
    width: 100%;
  }

  .bar-arrowright {
    top: 28%;
    right: 2%;
  }

  .bar-arrowleft {
    top: 28%;
    left: 2%;
  }

  .bar-descriptions {
    max-width: 370px;
    height: 300px;
  }
}
.reviews-bg {
  background-image: url(../../image/reviews/berry-tl.png);
  background-position: 98% 4%;
  background-repeat: no-repeat;
  position: relative;
}
.reviews-bg::before {
  content: "";
  display: block;
  height: 20.0625rem;
  width: 9.375rem;
  position: absolute;
  background-image: url(../../image/reviews/beery-bl.png), url(../../image/reviews/reviews-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%, left;
  top: 73%;
  z-index: 1;
}

.reviews-container {
  align-items: center;
  justify-content: center;
}

.reviews-title {
  font-family: AlegreyaSans-Bold;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.75rem;
}

.reviews-content {
  padding: 3.125rem 2.75rem 2.125rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8faf9;
  background-image: url(../../image/reviews/reviews-inner-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  width: 98%;
  max-width: 940px;
}

.reviews-text {
  margin-left: 1.125rem;
  text-align: left;
  width: 27.5rem;
}
.reviews-text__title {
  font-family: AlegreyaSans-Bold;
  font-size: 1.875rem;
}
.reviews-text__inner {
  font-family: AlegreyaSans-Regular;
  font-size: 1.125rem;
  color: #666666;
  margin: 1rem 0;
  width: 100%;
}
.reviews-text__author {
  font-family: AlegreyaSans-Medium;
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  .reviews-content {
    padding: 2.8rem 1.5rem 2rem;
    flex-direction: column;
    max-width: 45rem;
  }
  .reviews-content__img {
    width: 100%;
    max-width: 8.125rem;
  }

  .reviews-text {
    text-align: center;
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 460px) {
  .reviews-content {
    max-width: 28.75rem;
  }
  .reviews-content__img {
    max-width: 7.56rem;
  }
}
.reviews-list {
  display: flex;
  margin-top: 1.5625rem;
}
.reviews-list__users {
  width: 4.1875rem;
  height: 4.1875rem;
  display: block;
  margin-right: 0.6875rem;
}
.reviews-list__users:last-child {
  margin-right: 0;
}
.reviews-list__users_user1 {
  background-image: url(../../image/reviews/user1.png);
  background-size: cover;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
}
.reviews-list__users_user2 {
  background-image: url(../../image/reviews/user2.png);
  background-size: cover;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
}
.reviews-list__users_user3 {
  background-image: url(../../image/reviews/user3.png);
  background-size: cover;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
}

.delivery-bg {
  background-image: url(../../image/delivery/berry-bg.png), url(../../image/delivery/laef-bg.png), url(../../image/delivery/image-bg.png);
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
  background-position: 2% 90%, 99% 80%;
}

@media (max-width: 768px) {
  .delivery-bg {
    background-image: url(../../image/delivery/image-bg.png);
    background-size: cover;
  }
}
.delivery-container {
  align-items: center;
  justify-content: center;
}

.delivery-title {
  color: #365a49;
  font-family: AlegreyaSans-Bold;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3.125rem;
  text-align: center;
}

@media (max-width: 460px) {
  .delivery-title {
    font-size: 2.5rem;
  }
}
.delivery-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: AlegreyaSans-Regular;
  width: 96%;
  font-size: 1.125rem;
  text-align: left;
  color: #365a49;
  line-height: 1.875rem;
}
.delivery-form input:focus {
  outline: 0.125rem solid #365a49;
}
.delivery-form textarea:focus {
  outline: 0.125rem solid #365a49;
}

@media (max-width: 768px) {
  .delivery-title {
    margin-bottom: 2.5rem;
  }

  .delivery-form {
    flex-direction: column;
    align-items: center;
  }
}
.form-left {
  width: 49%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-left input {
  border: none;
  padding: 1.0625rem 0.6875rem;
  margin-bottom: 1.25rem;
  color: #000;
}
.form-left input[type=name] {
  width: 100%;
}
.form-left input[type=number] {
  width: 100%;
}
.form-left input[type=streat] {
  width: 100%;
}
.form-left input[type=address] {
  width: 100%;
}

.form-name {
  max-width: 220px;
  width: 100%;
  flex-basis: 48%;
}

.form-number {
  max-width: 220px;
  width: 100%;
  flex-basis: 48%;
}

.form-streat {
  max-width: 460px;
  width: 100%;
  flex-basis: 100%;
}

.form-house {
  max-width: 100px;
  width: 100%;
  flex-basis: 23%;
}

.form-corps {
  max-width: 100px;
  width: 100%;
  flex-basis: 23%;
}

.form-door {
  max-width: 100px;
  width: 100%;
  flex-basis: 23%;
}

.form-float {
  max-width: 100px;
  width: 100%;
  flex-basis: 23%;
}

@media (max-width: 768px) {
  .form-left input {
    padding: 0.8125rem 0.6875rem 0.625rem;
    font-size: 14px;
    height: 35px;
    margin-bottom: 0;
  }
}
.form-right {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
}
.form-right textarea {
  border: none;
  padding: 1.0625rem 0.6875rem;
  margin-bottom: 1.25rem;
  color: #000;
  width: 100%;
  height: 11.25rem;
}
.form-right input {
  display: none;
}

.form-comments {
  flex-basis: 100%;
  width: 98%;
  max-width: 28.75rem;
}

.form-payment {
  padding: 0.3125rem;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}
.form-payment__radio {
  display: inline-block;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid #fff;
  background-color: #fff;
  margin-right: 0.625rem;
  position: relative;
}
.form-payment__radio::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 0.5625rem;
  width: 0.5625rem;
  border-radius: 50%;
  background-color: #365a49;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.form-payment__check:checked + .form-payment__radio::after {
  opacity: 1;
}
.form-payment__checkbox {
  display: inline;
  height: 1.125rem;
  width: 1.125rem;
  background-color: #fff;
  position: relative;
  margin-right: 0.625rem;
}
.form-payment__checkbox::after {
  content: "";
  display: inline-flex;
  position: absolute;
  width: 13px;
  height: 11px;
  background-image: url(/icons/sprite.svg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /*

  width: 0.25rem;
  height: 0.4375rem;
  border: solid $base-color;
  border-width: 0 0.1875rem 0.1875rem 0;
  top: 0; left: 0; bottom: 0.125rem; right: 0;
  margin: auto;
  transform: rotate(45deg);
  opacity: 0;
  */
}
.form-payment input[type=checkbox]:checked + .form-payment__checkbox::after {
  opacity: 1;
}

.form-btn {
  width: 28.75rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.form-order {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.625rem;
  width: 9.75rem;
  border-radius: 30px;
  border: 1px solid #365a49;
  background-color: #365a49;
  color: #fff;
  text-transform: uppercase;
  font-family: AlegreyaSans-ExtraBold;
  font-size: 1.1875rem;
  align-self: flex-end;
  justify-self: flex-end;
  transition: 0.5s;
}
.form-order:hover {
  transition: 0.5s;
  border: 0.0625rem solid #fff;
  background-color: #fff;
  color: #365a49;
}

.form-clear {
  margin-left: 1.85rem;
  color: #000;
}
.form-clear:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .form-comments textarea {
    height: 5rem;
  }

  .form-left {
    width: 98%;
    max-width: 28.75rem;
  }

  .form-right {
    width: 98%;
    max-width: 28.75rem;
  }

  .form-btn {
    justify-content: center;
  }
}
@media (max-width: 460px) {
  .form-right {
    justify-content: center;
  }
}
.maps-bg {
  background-image: url(/image/maps/maps.png);
  background-size: cover;
  width: 100%;
  position: relative;
}

.footer {
  padding: 0 5rem;
  position: absolute;
  width: 100%;
  height: 5.8125rem;
  background-color: #ffffff;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  font-family: AlegreyaSans-Regular;
  font-size: 21px;
}
.footer-contact__address {
  line-height: 1.14;
}
.footer-contact__number {
  color: #365a49;
  fill: #365a49;
}

.footer-social {
  width: 8rem;
}
.footer-social__list {
  display: flex;
  justify-content: space-between;
}
.footer-social__items {
  width: 1.25rem;
  height: 1.25rem;
  fill: #ccc;
}
.footer-social__items:hover {
  background-color: #ffffff;
  fill: black;
}

@media (max-width: 768px) {
  .footer {
    padding: 0 1.5rem;
  }
}
@media (max-width: 460px) {
  .footer {
    height: 9.5625rem;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer-contact {
    align-items: center;
  }
  .footer-contact__number {
    margin-top: 1rem;
  }
}